<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Tablični prikaz NKZ</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://unpkg.com; script-src 'self' 'unsafe-inline' https://unpkg.com; style-src 'self' 'unsafe-inline';">
    <style>
        body {
            font-family: sans-serif;
            margin: 2em;
            background: #f8f8f8;
            color: black;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td {
            border: 1px solid #ccc;
            padding: 4px;
        }
        /* Stilovi za rod, skupinu i zanimanje se mogu dodatno definirati unutar HTML fragmenata (inline) */
    </style>
</head>
<body>
    <h1>Tablični prikaz NKZ</h1>
    <table>
      <tbody>
         {% for item in rods %}
         <tr>
           <td>
             <div id="row-rod-{{ item.slug }}" class="rod-row">
               <a href="#" hx-get="/skupine/{{ item.slug }}" hx-target="#row-rod-{{ item.slug }}" hx-swap="outerHTML">
                 {{ item.rod }}
               </a>
             </div>
           </td>
         </tr>
         {% endfor %}
      </tbody>
    </table>
    <br>
    <table>
      <tbody id="test-tbody">
         <tr>
           <td>
             <a href="#" hx-get="/test" hx-target="#test-tbody" hx-swap="afterbegin">
               Minimalni test
             </a>
           </td>
         </tr>
      </tbody>
    </table>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script> console.log("htmx:", window.htmx); </script>
</body>
</html>
